page-track-my-order {


    #flexContainer{
         display: flex;
    }

  
        #bar {
            margin-bottom: 20px;
            width: 100%;
            height: 2px;
            justify-content: center;

            }

            #container{
                display: flex;
                justify-content: center;
            }

}
